*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: #726565;
}

.game_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.container {
    height: 800px;
    width: 1000px;
    border: 1px solid black;
    cursor: crosshair;
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
}

#target {
    height: 60px;
    width: 60px;
    position: absolute;
    transition: 0.25s;
    animation: alternateTarget 10s infinite;
}

button {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #3C7103;
    border: 0;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

@keyframes animateTarget {
    to {
        transform: translateY(-200px) rotate(90deg);
    }
}